.container{
    display: grid;
    grid-template-columns: 0.7fr 3fr;
}
.left-section{
    background-color:lightblue;
    padding: 25%;
}
.right-section{
    background-color:rgb(228, 222, 222);
    text-align: center;
}
.course-list{
    padding: 5%;
}
a{
     text-decoration: none;
}

.link{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.courselist{
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    }
.course-container{
        background-color: peru;
        border:1px solid black;
        display:grid;
        border-radius: 25px;
        grid-template-rows: 1fr 0.7fr;
        margin: 5%;
}
#course-detail{
    display: grid;
    grid-template-rows: 1fr 1fr;
}