.container{
    display: grid;
    grid-template-columns: 0.7fr 3fr;
}
.left-section{
    background-color:lightblue;
    padding: 25%;
}
.right-section{
    text-align: center;
  
}
.course-list{
    padding: 5%;
}
a{
     text-decoration: none;
}

.link{
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
}
.courselist{
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    }
.course-container{
        background-color: peru;
        border:1px solid black;
        display:grid;
        border-radius: 25px;
        grid-template-rows: 1fr 0.7fr;
        margin: 5%;
}
#course-detail{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.view-detail{
    width:100%;
    padding:3%
}
#course{
    padding: 1% 4%;
    width: 35%;
}
.courses-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: 2%;
}
.form-container{
    padding: 3%;
    background-color: darkgoldenrod;
}
form{
    display: grid;
    grid-template-columns: 1fr;
    width: 25%;
}
#send-btn{
    padding: 3%;
}
label{
    padding: 5%;    
}