.h-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 1%;
    background-color: rgb(128, 136, 136);
}
.img-container > img{
    border-radius: 50%;
}
.searchbar{
    padding: 2%;
    border-radius: 50px;
    width: 70%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#search{
    border-radius: 50px 0px 0px 50px;
    padding: 5%;
}
#search{
    background-color: rgb(156, 156, 156);
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 10%
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
#signup {
    width: 75%;
    padding: 0%;
    border-radius: 50px;
}
#login{
    width: 75%;
    padding: 0%;
    border-radius: 50px;
}
